<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<style type="text/css">
		* {
			margin:0px;
			padding:0px;
		}
		html, body {
			height:100%;
		}
		body {
			background-color:#000;
			color:#aaa;
			font:100.01%/1.4 sans-serif;
			text-align:center; /* horizontal centering for IE Win quirks */
		}
		#distance {
			float:left;
			height:50%;
			margin-bottom: -100px; /* half of container's heigh */
		}
		#container {
			width:200px;
			height: 200px;
			clear:left;
			position:relative; /* puts container in front of distance */
			text-align:center;
			font-size:30px;
			margin:0px auto;
		}
		#day {
			font-size:150px;
		}
		#pre{
			color:#f33;
			position:absolute;
			top:0px;
			left:0px;
		}
		#post{
			color:#33f;
			position:absolute;
			right:0px;
			bottom:0px;
		}
		</style>
	</head>
	<body>
		<div id="distance"></div>
		<div id="container">
			<div>
				<div id="pre">Day</div>
				<p id="day">
					<%= @today.yday %>
				</p>
				<div id="post">/<%= @today.leap? ? '366' : '365' %></div>
			</div>
		</div>
	</body>
</html>